.header {
    padding: 24px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    z-index: 2;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.36;
}

.header-nav__mobile {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-nav__tablet-pc-list {
    display: flex;
    gap: 44px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        gap: 70px;
    }
}

