.input-search {
    position: relative;
    display: inline-flex;
    width: 173px;
    height: 31px;
    padding: 5px 1px 5px 48px;
    border: 1px solid #111321;
    border-radius: 20px;
    background-image: url('../images/icon-sprites.svg#bx_search');
    background-size: cover;
    background-color: aqua;
}

// .icon-nav__mobile--position {
//     position: absolute;
//     top: 0;
// }