@import '~node_modules/modern-normalize/modern-normalize.css';
.header {
  padding: 24px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  z-index: 2;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.36;
}

.header-nav__mobile {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-nav__mobile {
    display: none;
  }
}

.header-nav__tablet-pc-list {
  display: flex;
  gap: 44px;
}
@media screen and (max-width: 767px) {
  .header-nav__tablet-pc-list {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header-nav__tablet-pc-list {
    gap: 70px;
  }
}

/* Reset styles */
body {
  font-size: 12px;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.button-icon-mobile {
  border: none;
  background: none;
}

.label-search.show {
  display: none;
}
@media screen and (min-width: 768px) {
  .label-search.show {
    display: inline-flex;
  }
}

@media screen and (max-width: 767px) {
  .label-search {
    position: absolute;
    left: 30%;
  }
}

.input-search {
  width: 173px;
  height: 31px;
  padding: 5px 1px 5px 48px;
  border: 1px solid #111321;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .input-search {
    width: 213px;
  }
}

.icon-label-search {
  position: absolute;
  transform: translate(50%, 35%);
}

@media screen and (max-width: 767px) {
  .wrap__burger-menu.open {
    display: block;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .wrap__burger-menu {
    display: none;
  }
  .close__burger-menu {
    position: absolute;
    top: 28px;
    right: 16px;
  }
  .burger-menu__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .burger-menu__link {
    display: flex;
    align-items: center;
  }
  .burger-menu__list {
    margin-top: 68px;
  }
}
@media screen and (min-width: 768px) {
  .wrap__burger-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .theme.close {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .theme {
    display: block;
    position: absolute;
    bottom: -100vw;
  }
}

.theme-label {
  display: flex;
  align-items: center;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.icon-input {
  width: 40px;
  height: 21px;
}

.checkbox:checked + .icon-input {
  background-image: url("../images/toggle.svg");
}

.checkbox + .icon-input {
  background-image: url("../images/toggle-moon.svg");
}

@media screen and (min-width: 1280px) {
  .icon-theme {
    display: none;
  }
}

.theme__name {
  display: none;
  font-size: 18px;
  line-height: 24px;
}
@media screen and (min-width: 1280px) {
  .theme__name {
    display: inline-block;
  }
}/*# sourceMappingURL=index.css.map */