<header class="header">
    <nav class="nav">
        <div class="nav__menu-icon menu-icon">
            <i class="menu-icon__icon fa fa-bars"></i>
        </div>
        <div class="nav__logo logo">
            <a class="logo__link" href="#">My Logo</a>
        </div>
        <div class="nav__menu menu">
            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="#">About</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>