<header class="header">
    <div class="container wrapper">
        <a href="" class="logo">News</a>

        <nav class="header-nav">
            <ul class="header-nav__mobile">
                <li><button class="button-icon-mobile" type="button">
                        <svg class="icon-nav__mobile--position" width="15px" height="15px">
                            <use xlink:href="../src/images/icon-sprites.svg#bx_search"></use>
                        </svg>
                    </button></li>
                <li><button class="button-icon-mobile" type="button">
                        <svg class="icon-nav__mobile" width="24px" height="24px">
                            <use xlink:href="../src/images/icon-sprites.svg#menu"></use>
                        </svg>
                    </button></li>
            </ul>
        </nav>

        <input type="text" placeholder="Search" class="input-search">
    </div>
</header>